extends  ../layout

block content
    .row
        .col-md-2
            a.btn.btn-primary(href='/admin/list') 返回
    .row
        .col-md-7
            img(src=product.poster)
        .col-md-5
            ul.list-group
                li.list-group-item
                    div.row
                        div.col-4
                            h5 名字
                        div.col-8 #{product.name}
                li.list-group-item
                    div.row
                        div.col-4
                            h5 品牌
                        div.col-8 #{product.brand}
                li.list-group-item
                    div.row
                        div.col-4
                            h5 功效
                        div.col-8 #{product.effect}
                li.list-group-item
                    div.row
                        div.col-4
                            h5 适用季节
                        div.col-8 #{product.season}
                li.list-group-item
                    div.row
                        div.col-4
                            h5 状态
                        div.col-8 #{product.status}